<h2>What's your question?</h2>

<form method="POST" action="/question">
  <label>Recipient:
    <input type="text" name="question_box[recipient]" value="<%=@question_box.recipient%>" />
    <!-- The `[]`s in the "name" attribute here indicate that `params[:wall]` is
    going to be a hash with a key of "title" and a value of whatever the user
    puts in -->
  </label><br />

  <label>Question:
    <textarea name="question_box[question]"><%=@question_box.question%></textarea>
    <!-- We can add even more keys to the hash that will become `params[:wall]`;
         in this case, we now have params[:wall]["description"]
         available in our route -->
  </label><br />

  <label>Owner:
    <input type="text" name="question_box[created_by]" value="<%=@question_box.created_by%>" />
  </label><br />

  <button>Submit your question!</button>
</form>