
<div class="container">
  <div class="qb-form">
    <h2>Record Your Question</h2>
    <br />
    <form method="POST" action="/questions">
      <p><input type="text" name="question_box[question]" value="" placeholder="Enter the question you'd like to store..." /></p>
      </p>
      <p class="submit"><input type="submit" value="Submit"></p>
    </form>
  </div>
</div>

<br />

<div class="content">
  <h2>Recent Questions</h2>
  <br />
  <br />
  <ul>
    <% @question_boxes.each do |question_box| %>
      <% if question_box.question != "" && question_box.id <= 8 %>
      <h1> <a href="/questions/<%= question_box.id %>"><%= question_box.question %></h1> 
      <br />
      <% end %>
    <% end %>
  </ul>
</div>

<!-- My intent with this page is to function as the root destination. The main
attribute is the search box.  I also added recent questions.  More options might
get added later. Maybe.

I don't think the use of the <br /> is appropriate but given my current skill level
with html and css, they will have to do. -->