<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
    <title>Question Box</title>
  </head>
  <body>
    <header class="nav">
    <h1><a href="https://github.com/TravisIngram/question_box">Question Box</a></h1>
    <div class="links">
        <a href="https://github.com/TravisIngram/question_box">About</a>
        <a href="/search">Question Archive</a>
        <a href="/">Home</a>
    </div>
    </header>
    
    <div class="content">
    <br />
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
