
<div class="container">
  <div class="qb-form">
    <h2>Find Your Questions</h2>
    <br />
      <form method="post" action="/search">
        <p><input type="text" name="question_box[question]" value="" placeholder="Search...not implemented..."></p>
        </p>
        <p class="submit"><input type="submit" value="Search"></p>
      </form>

      <% if @question_boxes %>

      <% else %>
    <h2> No one has asked a question yet. =[ </h2>
    <% end %>
  </div>
</div>