
<div class="container">
  <div class="qb-form">
    <h2>Find Your Questions</h2>
    <br />
      <form method="post" action="/search">
        <p><input type="text" name="question_box[question]" value="" placeholder="Search...not implemented..."></p>
        </p>
        <p class="submit"><input type="submit" value="Search"></p>
      </form>

      <% if @question_boxes %>

      <% else %>
    <h2> No one has asked a question yet. =[ </h2>
    <% end %>
  </div>
</div>

<!-- When this view was created I was creating questions separately, so not a good name.
My intent with this page is to function as a search for the entered questions.

The root will display recent questions, but it might be handy to search by author or something.  

I also thought it would be handy to have a display if there aren't any questions.  The listed
conditional isn't great, more of a placeholder.